@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/*-------------------------------------[診断パート]-------------------------------------------*/
.start,
.quiz,
.result,
.confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: rgb(254,135,185);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 250px;
}

.btn-white {
    background-color:white;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 250px;
}
button {
    /* background-color: #4caf50; */
    border: none;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: block;
}

.btn:hover {
    background-color: #3e8e41;
}

.hide {
    display: none;
}

.question {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.answer-btn {
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}

/*------------------------------[質問回答]-------------------------------------------*/
.option-btn{
    width: 500px;
    background-color:white; /* 背景色を適宜指定 */
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
}

.confirm-div{
    width: 500px;
    background-color:white; /* 背景色を適宜指定 */
    border: 2px solid black;
    display: flex;
    justify-content:start;
    align-items: center;
    text-align: left;
    padding: 5px 16px;
    margin-top: 5px;
    border-radius: 4px;
}

.rounded-circle {
    display: inline-flex; /* flexコンテナとして表示 */
    justify-content: center; /* 横方向に中央揃え */
    align-items: center; /* 縦方向に中央揃え */
    width: 30px; /* サイズを適宜調整 */
    height: 30px; /* サイズを適宜調整 */
    border-radius: 50%; /* 丸くする */
    border: 2px solid black;
    margin-right: 10px;
    font-size: 20px;
}

.span-bg{
    background-color: rgb(254,135,185);
    color: white;
    border-radius: 4px;
    padding: 8px;
    margin: 0 4px;
}
