@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/*-------------------------------------[診断パート]-------------------------------------------*/
.start,
.quiz,
.result,
.confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: rgb(254,135,185);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 250px;
}

.btn-white {
    background-color:white;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 250px;
}
button {
    /* background-color: #4caf50; */
    border: none;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: block;
}

.btn:hover {
    background-color: #3e8e41;
}

.hide {
    display: none;
}

.question {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.answer-btn {
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}

/*------------------------------[質問回答]-------------------------------------------*/
.option-btn{
    width: 500px;
    background-color:white; /* 背景色を適宜指定 */
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
}

/*各質問・回答セット*/
.confirm-container{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

/*各質問*/
.confirm-container p{
    color: white;
    font-size: 16px;
}

/*各質問番号*/
.confirm-span{
    background-color: white;
    color:rgb(191,158,116);
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
}

/*各回答*/
.confirm-answer{
    width: 450px;
    background-color:white; /* 背景色を適宜指定 */
    color:rgb(191,158,116);
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: left;
    padding: 6px 10px;
    margin-top: 5px;
    border-radius: 20px;
}

/*▶アイコン*/
.confirm-answer p{
    color:rgb(191,158,116);
    font-size: 10px;
    margin-right: 5px;
}

/*各回答番号*/
.rounded-circle {
    display: inline-flex; /* flexコンテナとして表示 */
    justify-content: center; /* 横方向に中央揃え */
    align-items: center; /* 縦方向に中央揃え */
    width: 25px; /* サイズを適宜調整 */
    height: 25px; /* サイズを適宜調整 */
    border-radius: 50%; /* 丸くする */
    margin-right: 10px;
    font-size: 14px;
    background-color: rgb(191,158,116);
    color: white;
}

.span-bg{
    background-color: rgb(254,135,185);
    color: white;
    border-radius: 4px;
    padding: 8px;
    margin: 0 4px;
}

/*=================[管理画面 登録ボタン]===============-*/
.btn-border {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.btn-border:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 5px;
    height: 100%;

    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;

    background: #000;
}

.btn-border:hover {
    color: #fff;
    background: #000;
}

.btn-border:hover:before {
    background: #fff;
}

/*=======================[sortable.js]===============================================*/
#my_container{
    width: 100%; height: 100%;
    display: flex; flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

#my_container div{
    margin: 0px; padding: 10px 30px;
    border-radius: 20px;
    background-color: gray; color: white;
    font-size: 2rem; text-align: center;
}

ul{
    margin: 0px; padding: 5px;
    background-color: silver; color: gray;
    font-size: 1.5rem; text-align: left;
    list-style: none;
}

ul li{
    margin: 0px; padding: 5px 0px;
    background-color: whitesmoke;
    border-bottom: solid gray 1px;
    border-radius: 5px;
}
